<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    {% load staticfiles %}
    <link rel="stylesheet" type "text/css" href="{% static 'Login/style.css' %}"/>

</head>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <font color="red">
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        </font>
    {% endfor %}
</ul>
{% endif %}

<body>

  <div class="login-card">
    <h1>Login</h1><br>
		<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	
		<input type="submit" name="Login" value="Login" />
		<input type="submit" name="Register" value="Register" />
</form>

</div>

</body>

</html>
