<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Delete a Folder</title>
</head>
<body>
<form method="post">
		{% csrf_token %}

<p>Folders:</p>
    {% if not folders %}
                    <p>No Folders To Show</p>
                {% endif %}
{% for folder in folders %}

            <p><input type="radio" name="folder" id="{{ forloop.counter }}" value="{{ folder.id }}" required />
    <label for="folder{{ forloop.counter }}">{{ folder.name }}</label><br />
            </p>

        {% endfor %}
    <p><input type="submit" name="Delete" value="Delete" /></p>
</body>
</html>